*~
.*.sw?
.ipynb_checkpoints/
*.ipynb
dist
deleteDatasetsAlreadyDeletedFromApplicationServerTaskLastSeen
notebooks
*__pycache__/
*.mypy_cache/
build/
.venv/
*.egg-info/
.ruff_cache/
.pytest_cache/
.coverage
