:root {
	--ck-sidebar-width: 270px;
	--ck-editor-height: 700px;
}

.main-editor-container {
	font-family: var(--ck-content-font-family);
}

.editor-container__editor {
	padding: 0 12px 12px;
}

.editor-container__editor .ck-editor__editable {
	min-height: 400px;
}

.editor-container__sidebar_minimap {
	border-left: 1px solid hsl(0, 0%, 90%);
	min-width: 140px;
}

.editor-container__menu-bar .ck-toolbar {
	border: none;
	box-shadow: none;
}

.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}

.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ck-editor-height);
	min-height: var(--ck-editor-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
	height: 100%;
	margin: 8px auto;
}

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
	box-sizing: border-box;
	min-width: calc(210mm + 2px);
	max-width: calc(210mm + 2px);
	min-height: 297mm;
	height: fit-content;
	padding: 10mm 6mm;
	border: 1px hsl(0, 0%, 82.7%) solid;
	background: hsl(0, 0%, 100%);
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
	flex: 1 1 auto;
	margin-left: 72px;
	margin-right: 72px;
}

.editor-container__sidebar {
	min-width: var(--ck-sidebar-width);
	max-width: var(--ck-sidebar-width);
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.editor-container__minimap-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.editor-container__sidebar_minimap {
	margin: 0;
	flex: 0 0 auto;
	border-left: 1px solid var(--ck-color-toolbar-border);
	position: relative;
	overflow: hidden;
	max-height: 100%;
}

.editor-container_include-minimap.ck-minimap__iframe-content {
	background: hsl(0, 0%, 100%);
}

.editor-container_include-minimap.ck-minimap__iframe-content .ck.ck-editor__editable {
	flex: 1 1 auto;
	word-break: break-word;
	box-sizing: border-box;
	min-width: calc(210mm + 2px);
	max-width: calc(210mm + 2px);
	min-height: 297mm;
	height: fit-content;
	padding: 20mm 12mm;
}

.editor-container_include-minimap .editor-container__editor-wrapper {
	height: 100%;
	width: 100%;
}

.editor-container_include-minimap .editor-container__sidebar_minimap {
	max-width: calc(var(--ck-sidebar-width) / 2);
	min-width: calc(var(--ck-sidebar-width) / 2);
}

.ck-content h3.category {
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	color: #555;
	letter-spacing: 10px;
	margin: 0;
	padding: 0;
}

.ck-content h2.document-title {
	font-family: 'Oswald';
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

.ck-content h3.document-subtitle {
	font-family: 'Oswald';
	font-size: 20px;
	color: #555;
	margin: 0 0 1em;
	font-weight: bold;
	padding: 0;
}

.ck-content p.info-box {
	--background-size: 30px;
	--background-color: #e91e63;
	padding: 1.2em 2em;
	border: 1px solid var(--background-color);
	background:
		linear-gradient(135deg, var(--background-color) 0%, var(--background-color) var(--background-size), transparent var(--background-size)),
		linear-gradient(
			135deg,
			transparent calc(100% - var(--background-size)),
			var(--background-color) calc(100% - var(--background-size)),
			var(--background-color)
		);
	border-radius: 10px;
	margin: 1.5em 2em;
	box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content span.marker {
	background: yellow;
}

.ck-content span.spoiler {
	background: #000;
	color: #000;
}

.ck-content span.spoiler:hover {
	background: #000;
	color: #fff;
}

.ck-content .button {
	display: inline-block;
	width: 260px;
	border-radius: 8px;
	margin: 0 auto;
	padding: 12px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.ck-content .button--green {
	background-color: #406b1e;
}

.ck-content .button--black {
	background-color: #141517;
}
