.inline-editor-container {
	border: 1px solid hsl(0, 0%, 80%);
}

.inline-editor-container .ck-editor__editable_inline {
	min-height: 200px;
}

.inline-editor-container .ck-editor__top {
	border-bottom: 1px solid hsl(0, 0%, 85%);
}

.inline-editor-container .ck-read-only {
	background: #fff;
}

